@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #e2d4ff;
  --color-primary: #ebfffc;

  --color-tx-primary: #626262;
  --color-tx-secundary: #ffff;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}
